{% extends 'base.html' %}
{% block head %}
<title> Admin Page</title>
<style>
    table{color:rgb(39, 29, 29)}
    table{font-size:larger;}
    table{background-color:thistle;}
    #btn{background-color: hotpink;}
</style>
{% endblock %}

{% block body %}
<table border="3" align="center", cellspacing="1" cellpadding="30">
<tr>
<body bgcolor="pink">
<h1 style="font-size:30px; font-family:sitka small; text-align:center; color:darkviolet;">WELCOME TO ADMIN PAGE..!</h1><br>
<h2 style="color:crimson; text-align:center;">..Add all the product details here..</h2>
<form method="POST" id="myForm" action="" onSubmit="alert('Data Added Successfully..!');" >

    <td>Product Code : <td><input type="text", name = "code", value = " "></td></tr>

    <tr><td>Product Type : <td><input type="text", name = "name", value = " "></td></tr>

    <tr><td>Product Brand : <td><input type="text", name = "brand", value = " "></td></tr>

    <tr><td>Product Price : <td><input type="text", name = "price", value = " "></td></tr>

    <tr><td align="center" colspan="2">
    <input type="submit" id="btn">
    
    
</form>

{% endblock %}