{% extends 'base.html' %}
{% block head %}

<title> Updated Product </title>
<style>
    table{color:black}
    table{font-size:larger;}
    table{background-color:wheat;}
    #btn{background-color:orchid;}
</style>

{% endblock %}

{%block body%}
<table border="3" align="center", cellspacing="3" cellpadding="30">
    <tr>
    <body bgcolor="pink">
    <h1 style="font-size:30px; font-family:sitka small; text-align:center; color:purple;">* UPDATE DETAILS *</h1><br>
    <h2 style="text-align:center; font-size:20px; color:crimson;">: Update your product details here :</h2>
    <form method="POST" id="myForm" action="" onSubmit="alert('Data updated Successfully..!');" >

        
        <td>Product Code : <td><input type="text", name = "code", value = " "></td></tr>
    
        <tr><td>Product Price : <td><input type="text", name = "price", value = " "></td></tr>
    
        <tr><td align="center" colspan="2">
        <input type="submit" id="btn">
        
        
    </form>


{% endblock %}